{{!
  Quantity Widget with Increment/Decrement controls.

  @param product
         cart.item or product object
}}

<span class="form-field-quantity-control" data-quantity-control="{{id}}">
  <input
    class="form-input"
    type="number"
    name="qty{{#if product_id}}-{{id}}{{else}}[]{{/if}}"
    pattern="[0-9]*"
    value="{{#if quantity}}{{quantity}}{{else}}{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}{{/if}}"
    min="{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}"
    {{#if max_purchase_quantity}}max="{{max_purchase_quantity}}"{{/if}}
    data-quantity-control-input
  >
  <span class="quantity-control quantity-increment" data-quantity-control-action="increment">&plus;</span>
  <span class="quantity-control quantity-decrement" data-quantity-control-action="decrement">&#45;</span>
</span>
