{{#partial 'account-heading'}}
  {{lang 'core.account.wishlists.view_heading' name=wishlist.name}}
{{/partial}}

{{#partial 'account-content'}}
  <section class="{{products_per_row_class}}">
    <h2 class="account-sub-heading">{{lang 'core.account.wishlists.wishlist_contents'}}</h2>
    <div class="account-wishlist-items account-product-wrapper">
      {{#each wishlist.items}}
        {{> core/account/_private/account-product-item show_remove=true default_image=../theme_settings.default_image show_bg=../show_bg}}
      {{/each}}
    </div>
  </section>
{{/partial}}

{{> core/account/_private/layout nav_page='wishlists' class='wishlist-shared'}}
