---
brands: true
product_results:
  limit: {{theme_settings.product-count}}
---

{{#partial "page"}}

  <div class="container">
    <div class="content">
      <h1 class="page-heading">
        {{lang 'search.search_results_start'}}
        "{{forms.search.query}}"
        {{{lang 'search.search_results_end' total=product_results.products.length}}}
      </h1>
      {{> components/common/breadcrumbs breadcrumbs}}

      {{{snippet 'search'}}}

      <div class="collection-product-listing-header">
        {{> components/products/product-listing-header show_compare=product_results.show_compare sort=false}}
      </div>
      <aside class="sidebar {{#unless product_results.faceted_search_enabled}}sidebar-disabled{{/unless}}" data-category-sidebar>
          {{> components/search/sidebar}}
      </aside>
      <main class="collection-products product-listing" data-category>
        {{> components/search/product-listing show_compare=product_results.show_compare}}
      </main>
    </div>
  </div>

{{/partial}}

{{> layout/base}}
