{{#if currency_selector.currencies.length '>' 1}}
  <div class="currency-selector-wrapper">
    <label class="currency-selector-label" for="currency-switcher">
      <span data-currency-selector-toggle>{{currency_selector.active_currency_code}}
        {{> components/common/icons/down-arrow}}
      </span>
    </label>
      <select class="currency-selector">
        {{#each currency_selector.currencies}}
          <option value="{{switch_url}}" {{#if is_active}}selected{{/if}}>
            {{name}}
          </option>
        {{/each}}
      </select>
  </div>
{{/if}}
