<div class="giftcard-body">
  <div class="giftcard-heading-container">
    <h1 class="giftcard-heading">{{lang 'core.giftcard.redeem.heading'}}</h1>
    <p class="giftcard-subheading">{{lang 'core.giftcard.redeem.subheading' store_name=settings.store_name}}</p>
  </div>
  <ol class="giftcard-redeem-steps">
    <li>{{lang 'core.giftcard.redeem.item1'}}</li>
    <li>{{lang 'core.giftcard.redeem.item2'}}</li>
    <li>{{{lang 'core.giftcard.redeem.item3' cart_url=urls.cart}}}</li>
    <li>{{lang 'core.giftcard.redeem.item4'}}</li>
  </ol>
</div>
