<div class="collection-facet-list-wrapper
  facet-option
  {{#if selected}}is-open{{/if}}
  {{#unless start_collapsed}}is-open{{/unless}}
  {{#if items_count '<' total_items}}has-additional-filters{{/if}}"
  data-facet-filter-wrapper>
  <ul
    class="facet-default"
    data-facet-name="{{facet}}"
    data-count="{{items_count}}"
    data-has-more-results="{{has_more_results}}">
    {{#each items}}
      <li data-facet-item>
        <a class="facet-select {{#if selected}}checked{{/if}}" href="{{url}}" rel="nofollow" data-faceted-search-facet>
          {{title}}
          {{#if ../show_product_counts}}<span data-facet-item-count>({{count}})</span>{{/if}}
        </a>
      </li>
    {{/each}}
  </ul>

  {{#if show_more_toggle}}
    <div class="collection-facet-list-item collection-facet-list-separation" data-facet-more>
      <button
        class="collection-facet-list-toggle"
        role="button"
        data-additional-facets="{{facet}}">
        <span class="show-more-text">{{lang 'search.faceted.show_more'}}</span>
        <span class="show-less-text">{{lang 'search.faceted.show_less'}}</span>
      </button>
    </div>
  {{/if}}
</div>
