{{#partial 'account-heading'}}
  {{lang 'core.auth.forgot.heading'}}
{{/partial}}

{{#partial 'account-content'}}
  <p class="auth-forgot-password-message">{{lang 'core.auth.forgot.message'}}</p>

  <form class="form account-forgot-form" action="{{urls.auth.send_password_email}}" method="post" data-validated-form>
    {{> core/forms/common/email required=true label=(lang 'core.auth.forgot.email_address') id='email' name='email'}}

    <div class="form-actions">
      <input class="button account-button-primary" type="submit" value="{{lang 'core.auth.forgot.submit'}}">
    </div>
  </form>
{{/partial}}

{{> core/account/_private/layout class='forgot' nav='hidden'}}
