{{#partial 'account-heading'}}
  {{lang 'core.auth.new_password.heading'}}
{{/partial}}

{{#partial 'account-content'}}
  {{#if forms.new_password.requirements}}
    <p class="new-password-requirements">{{forms.new_password.requirements}}</p>
  {{/if}}

  {{#if forms.new_password.error}}
    {{> core/alerts/alert-error forms.new_password.error}}
  {{/if}}

  <form action="{{forms.new_password.submit_url}}" class="form new-password-form" method="post" data-validated-form>
    {{> core/forms/common/password required=true label=(lang 'core.auth.new_password.password') id='password' name='password'}}

    {{> core/forms/common/password required=true label=(lang 'core.auth.new_password.password2') id='password_confirm' name='password_confirm' value_match='password'}}

    <div class="form-actions">
      <input class="button account-button-primary" type="submit" value="{{lang 'core.auth.new_password.submit'}}">
    </div>
  </form>
{{/partial}}

{{> core/account/_private/layout class='new-password' nav='hidden'}}
