
<div data-product-details data-product-title="{{product.title}}">

  <form
    class="form product-form"
    method="post"
    action="{{product.cart_url}}"
    data-product-options-count="{{product.options.length}}"
    enctype="multipart/form-data"
    data-cart-item-add>
    <input type="hidden" name="action" value="add">
    <input type="hidden" name="product_id" value="{{product.id}}" data-product-id>

    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
      {{#if settings.show_product_rating}}
        <meta itemprop="ratingValue" content="{{product.rating}}">
        <meta itemprop="ratingCount" content="{{product.num_reviews}}">
        <meta itemprop="reviewCount" content="{{product.num_reviews}}">
      {{/if}}
      {{#if settings.show_product_reviews}}
        <meta itemprop="reviewCount" content="{{product.num_reviews}}">
      {{/if}}
    </div>

    {{#if product.brand.name.length}}
      {{#if product.brand.url}}
        <a class="product-vendor" href="{{product.brand.url}}">{{product.brand.name}}</a>
      {{else}}
        <span class="product-vendor">{{product.brand.name}}</span>
      {{/if}}
    {{/if}}

    <h1 class="page-title" itemprop="name">{{product.title}}</h1>

    {{> components/products/price price=product.price show_savings=true schema_org=true show_tax_labels=true call_for_price=product.call_for_price}}

    {{{snippet 'product_details'}}}

    <div class="product-info">
      {{#if product.sku}}
        <div class="product-info-item product-info-sku">
          <span class="product-info-label">{{lang 'product.sku'}}</span>
          <span class="product-info-value" data-product-sku>{{product.sku}}</span>
        </div>
      {{/if}}

      {{#if product.weight}}
        <div class="product-info-item product-info-weight">
          <span class="product-info-label">{{lang 'product.weight'}}</span>
          <span class="product-info-value" data-product-weight>{{product.weight}}</span>
        </div>
      {{/if}}

      {{#if theme_settings.product-show-dimensions}}
        {{#if product.height}}
          <div class="product-info-item product-info-height">
            <span class="product-info-label">{{lang 'product.height'}}</span>
            <span class="product-info-value" data-product-height>
              {{{lang 'product.height_value' height=product.height uom=settings.measurements.length}}}
            </span>
          </div>
        {{/if}}

        {{#if product.width}}
          <div class="product-info-item product-info-width">
            <span class="product-info-label">{{lang 'product.width'}}</span>
            <span class="product-info-value" data-product-width>
              {{{lang 'product.width_value' width=product.width uom=settings.measurements.length}}}
            </span>
          </div>
        {{/if}}

        {{#if product.depth}}
          <div class="product-info-item product-info-depth">
            <span class="product-info-label">{{lang 'product.depth'}}</span>
            <span class="product-info-value" data-product-depth>
              {{{lang 'product.depth_value' depth=product.depth uom=settings.measurements.length}}}
            </span>
          </div>
        {{/if}}
      {{/if}}

      {{#if product.availability}}
        <div class="product-info-item product-info-availability">
          <span class="product-info-label">{{lang 'product.availability'}}</span>
          <span class="product-info-value" data-product-availability>{{product.availability}}</span>
        </div>
      {{/if}}

      {{#if product.min_purchase_quantity}}
        <div class="product-info-item product-info-min-purchase-quantity">
          <span class="product-info-label">{{lang 'product.min_purchase'}}</span>
          <span class="product-info-value" data-product-min-purchase-quantity>{{product.min_purchase_quantity}}</span>
        </div>
      {{/if}}

      {{#if product.max_purchase_quantity}}
        <div class="product-info-item product-info-max-purchase-quantity">
          <span class="product-info-label">{{lang 'product.max_purchase'}}</span>
          <span class="product-info-value" data-product-max-purchase-quantity>{{product.max_purchase_quantity}}</span>
        </div>
      {{/if}}

      {{#if product.stock_level}}
        <div class="product-info-item product-info-stock-level">
          <span class="product-info-label">{{lang 'product.stock_level'}}</span>
          <span class="product-info-value" data-product-stock-level>{{product.stock_level}}</span>
        </div>
      {{/if}}

      {{#if product.shipping}}
        {{#if product.shipping.calculated}}
          <div class="product-info-item product-info-shipping-calculated">
            <span class="product-info-label">{{lang 'product.shipping'}}</span>
            <span class="product-info-value">{{lang 'product.shipping_calculated'}}</span>
          </div>
        {{else}}
          {{#if product.shipping.price '===' 0}}
            <div class="product-info-item product-info-shipping-free">
              <span class="product-info-label">{{lang 'product.shipping'}}</span>
              <span class="product-info-value">{{lang 'product.shipping_free'}}</span>
            </div>
          {{else}}
            {{#if product.shipping.fixed}}
              <div class="product-info-item product-info-shipping-fixed">
                <span class="product-info-label">{{lang 'product.shipping'}}</span>
                <span class="product-info-value">{{lang 'product.shipping_fixed' amount=product.shipping.price.formatted}}</span>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}

      {{#if product.gift_wrapping_available}}
        <div class="product-info-item product-info-gift-wrapping">
          <span class="product-info-label">{{lang 'product.gift_wrapping'}}</span>
          <span class="product-info-value" data-product-gift-wrapping>{{lang 'product.gift_wrapping_available'}}</span>
        </div>
      {{/if}}

      {{#each product.custom_fields}}
        <div class="product-info-item product-info-custom-field">
          <span class="product-info-label">{{name}}:</span>
          <span class="product-info-value">{{value}}</span>
        </div>
      {{/each}}

      {{#if product.warranty}}
        <div class="product-info-item product-info-warranty">
          <span class="product-info-label">{{lang 'product.warranty'}}</span>
          <span class="product-info-value">{{nl2br product.warranty}}</span>
        </div>
      {{/if}}

      {{#if product.bulk_discount_rates.length}}
        <div class="product-info-item product-info-bulk-pricing">
          <span class="product-info-label">{{lang 'product.bulk_pricing.title'}}</span>
          <span class="product-info-value">
            <a href="#" class="modal-toggle product-bulk-pricing-toggle">{{lang 'product.bulk_pricing.see_pricing'}}</a>
          </span>
        </div>

        <div class="product-bulk-pricing-modal">
          <h3 class="modal-title">{{lang 'product.bulk_pricing.title'}}</h3>
          <p>{{lang 'product.bulk_pricing.instructions'}}</p>
          <ul>
            {{#each product.bulk_discount_rates}}
              <li>
                {{lang 'product.bulk_pricing.range' min=min max=max}}
                {{#if type "===" "percent"}}
                  {{lang 'product.bulk_pricing.percent' discount=discount.formatted}}
                {{/if}}
                {{#if type "===" "fixed"}}
                  {{lang 'product.bulk_pricing.fixed' discount=discount.formatted}}
                {{/if}}
                {{#if type "===" "price"}}
                  {{lang 'product.bulk_pricing.price' discount=discount.formatted}}
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>

    {{# if product.num_reviews ">" 0}}
      <div class="form-field product-rating">
        {{> components/products/ratings rating=product.rating aggregate=true}}
        {{{snippet 'product_rating'}}}
      </div>
    {{/if}}

    {{#if product.show_quantity_input}}
      <div class="form-field product-quantity-wrapper" data-product-quantity>
        <label class="form-label">
          <span class="form-field-title">{{lang 'product.quantity'}}</span>
          {{> components/common/quantity product}}
        </label>
      </div>
    {{/if}}

    {{#if product.options}}
      <div class="product-options" data-product-option-change>
        {{#each product.options}}
          {{{dynamicComponent 'core/forms/options'}}}
        {{/each}}
      </div>
    {{/if}}

    {{#if product.event_date}}
      {{> core/products/event}}
    {{/if}}

    {{#if product.customizations}}
      <div class="product-customizations" data-product-option-change>
        {{#each product.customizations}}
          {{{dynamicComponent 'core/forms/customizations'}}}
        {{/each}}
      </div>
    {{/if}}

    {{#if product.release_date}}
      <div class="form-field pre-order-message">
        {{product.release_date}}
      </div>
    {{/if}}

    {{#if product.can_purchase}}
      <div class="form-field form-submit-wrapper" data-product-add>
        {{#if product.pre_order}}
          <input class="button pre-order" type="submit" value="{{lang 'product.pre_order'}}" data-button-purchase data-button-preorder>
        {{else}}
          <input class="button" type="submit" value="{{lang 'product.add_to_cart'}}" data-button-purchase>
        {{/if}}

        {{#if settings.show_wishlist}}
          <a class="button inverted" href="{{product.add_to_wishlist_url}}" data-wishlist-add>{{lang 'product.add_to_wishlist'}}</a>
        {{/if}}

        <span class="loading"></span>
      </div>
      {{{snippet 'product_addtocart'}}}

      <div class="product-alert" data-product-cart-message></div>
      <div class="product-alert" data-product-option-message></div>
    {{/if}}
  </form>
</div>
