{{#if products.length}}
  <div class="products-related-wrap">
    <section class="products-related">
      <h2 class="section-title">{{lang 'product.related_products'}}</h2>
      <div class="product-grid grid-4">
        {{#each products}}
          {{> components/products/product-item
              this quick_shop=../theme_settings.product-quick-shop
              default_image=../theme_settings.default_image
              price_as_low_as=../theme_settings.price_as_low_as
        }}
        {{/each}}
      </div>
    </section>
  </div>
{{/if}}
